html, body { height: 100%; }

.brand{
    /*background: transparent url("images/mx.png") no-repeat center;*/
}

.topbar {
    position:absolute;  
    height:80px;
    font-family: 'Signika', sans-serif;
}

.topbar .fill {
    /*background: transparent url("images/broken_noise2.png") repeat-x top left; */
        height:80px;
        font-size: 20px;
        
}

.topbar div > ul a, .nav a {
    padding-top:30px;
}

.topbar .brand {
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Bowlby One SC', sans-serif;
}


.fill .logo {
        background-color: black;
        padding:5px;
        
	
}

#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#map .canvas {
    position: absolute;
}

.footer {
height:250px;
}
.ribbon {
    padding-top:0px;
}

#map-key {
    position: absolute;
    top: 0px;
    right:0px;
    border: 1px solid #DDD;
    background-color: #fff;
    margin: 0em 0em 0em 0em;
    padding: .5em 1em 1em 1em;
    float: right;
}

table th, table td {
    padding: 1px 1px 1px;
    line-height: 18px;
    
}
#homicide_table tbody td,#homicide_table tbody th{
text-align: right;
}

.ui-slider .ui-slider-handle {
    width:3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left:-1em;
}

#trigger {
    background-image: url("http://diegovalle.github.com/drug-war-interactive-map/images/plus-minus.png");
    border-style: none;
    height: 30px;
    width:30px;
    font-weight: bold;
    float:left;
    cursor: pointer;
}

.active {
    background-position: right top;
}

.selected-year {
    background-color:blue;
}

.chart-title {
    height:20px;
    margin-top:-3px;
    margin-left:-10px;
}
.chart-title h1{
    font-size:20px;
    font-weight:bold;
}

hr.clear2 {
    margin: 10px 0 10px;
    border: 0;
    border-bottom: 0;
clear:both;
}
hr.clear {
    margin: 3px 0 3px;
    border: 0;
    border-bottom: 0;
clear:both;
}
hr.clear-space {
    margin: 20px 0 10px;
    border: 0;
    border-bottom: 0;
clear:both;
border-top:1px solid #cccccc;
}

.share{
font-size:18px
}

#city{
    background-color: #000;
    font-size:15px;
    margin-top:2px;
    padding-top:2px;

}
.cityname-border{
    text-align:center;
    width:100%;
    border-top:1px solid #eee;
    padding-top:6px;
    margin-top:-9px;
}
.social_icons_small a{
    float:left;
    padding:3px;
    list-style-type: none; 
    background:url(http://diegovalle.github.com/drug-war-interactive-map/images/result_small.png) no-repeat top left;
}

.social_icons_small span {
    display: none;
}

a.facebook_icon_small {
    background-position: 0px 0px;
    width: 19px; height: 19px;
}

a.twitter_icon_small {
    width: 19px; height: 19px;
    background-position: 0px -50px;
}

a.plusone_icon_small {
    width: 19px; height: 19px;
    background-position: 0px -25px;
    
}

.social_icons a{
    float:left;
    list-style-type: none; 
    margin-right:10px;
    background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png') no-repeat top left;
}

.social_icons span {
    display: none;
}

a.facebook_icon {
    background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png') no-repeat 0px -39px;width:60px; height:60px;
}

a.twitter_icon {
    background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png') no-repeat -123px 0px;width:60px; height:60px;
}

a.plusone_icon {
   background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png') no-repeat -63px 0px;width:60px; height:60px;
    
}

a.label {
    text-decoration:none;
    padding-bottom: 1px;
    
}

a.label.success {
    text-transform:none;
}
a.label.success:hover {
    color:white;
    background-color:#6FBE6F;
}

/*.modal {
  height: 60%;
}
  .modal-body {
    height: 80%;
    overflow-y: scroll;
  }
*/

div.made-by{
float:right;border:1px #000 solid;padding:.5em;margin:.5em;width:230px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.made-by-icon {
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
display: block;
text-indent: -999999em;
}
a.made-by-icon.blog {
background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png?a6150f') no-repeat 0px 0px;width:63px; height:39px;
background-color: #1c6f85;
}

a.made-by-icon.twit {
background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png?a6150f') no-repeat -123px -60px;width:39px; height:39px;
background-color: #3fcfff;
}

a.made-by-icon.facebook-icon {
background:url('http://diegovalle.github.com/drug-war-interactive-map/images/icons.png?a6150f') no-repeat -63px -60px;width:38px; height:38px;
background-color: #4369a8;
}

a.made-by-icon.twit:hover {
background-color: #0aa8dd;
}
a.made-by-icon.facebook-icon:hover {
background-color: #2E4672;
}
a.made-by-icon.blog:hover {
background-color: #045368;
}

.connect_widget_not_connected_text
{
  display:none; /*in your stylesheets to hide the counter!*/
}


.social_network {
    position : relative;
    list-style-type : none;
}
.social_network li {
    float : left;
    border : 0px solid rgba(0,0,0,.1);
    width:60px;
    padding : 6px;
    margin : 2px;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:0em 0;
    padding:0;
}