body {
    // padding-top: 40px;
        //background: transparent url("images/cork_1.png") repeat top left;   
}

html, body { height: 100%; }

.brand{
    //background: transparent url("images/mx.png") no-repeat center;
}

.topbar {
    position:absolute;  
    height:80px;
    font-family: 'Signika', sans-serif;
}

.topbar .fill {
    //background: transparent url("images/broken_noise2.png") repeat-x top left; 
        height:80px;
        font-size: 20px;
        
}

.topbar div > ul a, .nav a {
    padding-top:30px;
}

.topbar .brand {
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Bowlby One SC', sans-serif;
    //border: 1px solid black;
}


.fill .logo {
    //display: inline-block;
        //margin-left: 88px;
        background-color: black;
        padding:5px;
        
	
}

#map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    //margin-top: 40px;
}

#map .canvas {
    position: absolute;
}

.footer {
    //background: transparent url("images/broken_noise.png") repeat-x top left; 
        height:250px;
}
.ribbon {
    padding-top:0px;
}

#map-key {
    position: absolute;
    top: 0px;
    right:0px;
    //width: 420px;
    border: 1px solid #DDD;
    background-color: #fff;
    margin: 0em 0em 0em 0em;
    //height:500px;
    padding: .5em 1em 1em 1em;
    float: right;
}

table th, table td {
    padding: 1px 1px 1px;
    line-height: 18px;
    
}
#homicide_table tbody td,#homicide_table tbody th{
    //font-family:Verdana;
text-align: right;
}

.ui-slider .ui-slider-handle {
    width:3em;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left:-1em;
}

#trigger {
    padding: 0 0 0 0px;
    margin: 0 0 0px 0;
    background-image: url("http://diegovalle.github.com/drug-war-interactive-map/images/plus-minus.png");
    border-style: none;
    vertical-align:middle;
    height: 30px;
    width:30px;
    font-size: 14px;
    font-weight: bold;
    float:left;
    cursor: pointer;
}

.active {
    background-position: right top;
}

.selected-year {
    background-color:blue;
}
.chart-title {
    font-family:Verdana;
    font-size:16px;
    font-weigth:bold;
    margin-top:15px;
}

.social_icons_small a{
    float:left;
    padding:3px;
    list-style-type: none; 
    background:url(../images/result_small.png) no-repeat top left;
}

.social_icons_small span {
    display: none;
}

a.facebook_icon_small {
    background-position: 0px 0px;
    width: 19px; height: 19px;
}

a.twitter_icon_small {
    width: 19px; height: 19px;
    background-position: 0px -50px;
}

a.plusone_icon_small {
    width: 19px; height: 19px;
    background-position: 0px -25px;
    
}

.social_icons a{
    float:left;
    padding:3px;
    list-style-type: none; 
    background:url(../images/result.png) no-repeat top left;
}

.social_icons span {
    display: none;
}

a.facebook_icon {
    background-position: 0px 0px;
    width: 32px; height: 32px;
}

a.twitter_icon {
    width: 32px; height: 32px;
    background-position: 0px -84px;
}

a.plusone_icon {
    width: 32px; height: 32px;
    background-position: 0px -42px;
    
}

a.label {
    text-decoration:none;
padding-bottom: 1px;
}