.sprite-chart-glyphicons_190_circle_plus{ background:url('chart.png') no-repeat 0px 0px;width:26px; height:26px;}
.sprite-chart-glyphicons_191_circle_minus{ background:url('chart.png') no-repeat -26px 0px;width:26px; height:26px;}
.sprite-chart-twitter_bw_small{ background:url('chart.png') no-repeat 0px -26px;width:19px; height:19px;}
.sprite-chart-polygon2{ background:url('chart.png') no-repeat -19px -26px;width:15px; height:15px;}
