*~
/gh-pages/css/combined.min.css
/gh-pages/drug-war-map.html
/gh-pages/images/icons.png
/gh-pages/images/legend-en.png
/gh-pages/images/legend-es.png
/gh-pages/images/plus-minus.png
/gh-pages/images/result_small.png
/gh-pages/js/combined-en.min.js
/gh-pages/js/combined-es.min.js
/gh-pages/mapa-guerra-narco.html
/meta/legend-en.png
/meta/legend-es.png
/meta/sprites/icons.css
/meta/sprites/icons.png
